.action-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}