$grayX: "#f1f1f1"; // background body, button
$grayXX: "#ddd"; // background header, icon
$grayXXX: "#e7e7e7"; // background task
$grayXXXX: "#cdcdcd"; // icon hover
$grayXXXXX: "#bfbfbf"; // button hover
