@import './styles/reset.scss';

.app {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;

  &__action-section {
    margin-bottom: 40px;
  }

  &__task-section {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
