@import './styles/reset.scss';

.app {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  overflow-y: hidden;

  &__task-section {
    display: flex;
    height: 100%;

  }

  &__task-list {
    width: 40%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__work-space {
    width: 60%;
  }
}
